<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.CompetitionDao">
	<insert id="addCompetition" parameterType="Model.Competition">
		insert into competition(competition_name,competition_status,vote_type,vote_start,vote_end)
		values(#{competition_name},#{competition_status},#{vote_type},#{vote_start},#{vote_end})
	</insert>
	
	<select id="getID" resultType="Model.Competition">
		select * from competition order by id desc
	</select>
	
	<select id="getPlayerID" resultType="Model.Contestants">
		select * from contestants
	</select>
	
	<insert id="addConpk" parameterType="Model.Con_pk">
		insert into con_pk(competition_id,con1_name,con1_id,con1_music,con2_name,con2_id,con2_music)
		values(#{competition_id},#{con1_name},#{con1_id},#{con1_music},#{con2_name},#{con2_id},#{con2_music})
	</insert>
	
	<resultMap id="conpk" type="Model.Con_pk">
		<id property="id" column="id"/>
		<result property="competition_id" column="competition_id"/>
		<result property="con1_name" column="con1_name"/>
		<result property="con1_id" column="con1_id"/>
		<result property="con1_music" column="con1_music"/>
		<result property="con1_score" column="con1_score"/>
		<result property="con2_name" column="con2_name"/>
		<result property="con2_id" column="con2_id"/>
		<result property="con2_music" column="con2_music"/>
		<result property="con2_score" column="con2_score"/>
		<association property="comp" javaType="Model.Competition">
			<id property="id" column="id"/> 
			<result property="competition_name" column="competition_name"/>
			<result property="competition_status" column="competition_status"/>
			<result property="vote_type" column="vote_type"/>
			<result property="vote_start" column="vote_start"/>
			<result property="vote_end" column="vote_end"/>
		</association>
	</resultMap>
	<select id="getPk" resultMap="conpk">
		select * from con_pk pk,competition com where pk.competition_id = com.id order by pk.id desc
	</select>
	
	<select id="findpk" resultMap="conpk">
		select * from con_pk pk,competition com where pk.competition_id = com.id and com.competition_status=1
	</select>
	
	<select id="getonePk" resultMap="conpk" parameterType="int">
		select * from con_pk pk,competition com 
		where com.id = pk.competition_id
		and com.id  = #{id}
	</select>
	
	
	<update id="updateStatus" parameterType="Model.Competition">
		update competition
		set competition_status = #{competition_status}
		where id=#{id}
	</update>
	
	<select id="findHead" parameterType="int" resultType="Model.Contestants">
		select * from contestants
        where con_id=#{con_id}
	</select>
	
	<select id="findHead2" parameterType="int" resultType="String">
		select picture from contestants
        where con_id=#{con_id}
	</select>
	<insert id="addVote" parameterType="Model.Vote">
		insert into vote (voted_comid,voted_contestantid) values(#{voted_comid},#{voted_contestantid})
	</insert>
</mapper>